<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lch.menote">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".HostApp"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/minote_app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:theme,android:icon,android:label">
        <activity android:name=".app.HostActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user.ui.LockPwdActivity" />
        <activity android:name=".note.ui.ImageGalleryActivity" />
        <activity android:name=".note.ui.MusicActivity" />
        <activity android:name=".note.ui.EditNoteUi" />
        <activity android:name=".note.ui.LocalNoteDetailUi" />
        <activity android:name=".user.ui.UserInfoActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/boxing_file_provider" />
        </provider>

        <activity android:name=".note.ui.FullVideoPlayActivity" android:screenOrientation="landscape"/>
        <activity android:name=".note.ui.MyCloudNoteUi" />
        <activity android:name=".note.ui.CloudNoteDetailUi" />
    </application>

</manifest>